.textHome {
  margin-top: 133px;
  h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ff64ae;
  }
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #091156;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #8b8b8b;
    margin-top: 22px;
  }
}
.threeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 87px;
  gap: 54px;
  @media (max-width: 1155px) {
    flex-direction: column;
    gap: 80px;
  }
}
.box {
  width: 343px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 25px 50px 25px #f6f7ff;
  background-color: #ffffff;
  opacity: 1;
  transition: box-shadow 0.3s ease;
  border-radius: 42px;

  &:hover {
    box-shadow: 0px 25px 50px 25px rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22.5px;
    text-align: center;
    color: #091156;
    margin-top: 111px;
    margin-top: 58px;
    margin-bottom: 21px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    color: #8b8b8b;
  }
  @media (max-width: 400px) {
    width: 80%;
  }
}
.leftright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 59px;
  margin-left: 75px;
  @media (max-width: 1130px) {
    flex-direction: column;
    margin-left: 0px;
    gap: 0px;
    margin-top: 100px;
  }
}
.right {
  margin-top: 66px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1px;
  h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ff64ae;
    margin-bottom: 10px;
    @media (max-width: 1130px) {
      text-align: center;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #091156;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    color: #8b8b8b;
    margin-top: 13px;
  }
  @media (max-width: 1130px) {
    text-align: center;
    align-items: center;
  }
  @media (max-width: 467px) {
    br {
      display: none;
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
  margin-top: 36px;
  margin-bottom: -37px;
  margin-left: -3px;
  h1 {
    padding: 18px 47px 17px 47px;
    margin-top: 8px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 100, 174);
    border-radius: 50px;
    letter-spacing: 1.6px;
    line-height: 24px;
    align-items: center;
    font-weight: 600;
    margin-left: 4px;
  }
  img {
    width: 213px;
    height: 49px;
  }
  @media (max-width: 459px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 36px auto 0px;
  }
}
.textProfess {
  margin-top: 73px;
  h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ff64ae;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #091156;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #8b8b8b;
    margin-top: 22px;
  }
}
.threeMentor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 119px;
  gap: 61px;
  @media (max-width: 1115px) {
    flex-direction: column;
    gap: 80px;
  }
}

.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 626px;
  border-radius: 42px;
  cursor: pointer;
  &.active {
    margin-top: 1px;
    width: 424px;
    height: 626px;
    padding: 0px 51px;
    box-shadow: 0px 25px 50px 25px #f6f7ff;
    background-color: #ffffff;
    opacity: 1;
  }
  .mentor-title {
    font-weight: 600; 
    font-size: 16px; 
    color: #ff64ae;
    line-height: 20px;
    text-align: center;
    margin: 10px 0; 
  }

  .mentor-name {
    font-weight: 600;
    font-size: 18px; 
    color: #091156; 
    line-height: 22.5px;
    text-align: center;

    margin: 5px 0; 
  }

  .mentor-description {
    font-weight: 400; 
    font-size: 14px; 
    letter-spacing: 1.4px;
    text-align: center; 
    color: #8b8b8b; 
    line-height: 21px;
    letter-spacing: 1.4px;

    margin-top: 17px;
    margin-bottom: 0px;
  }
  @media (max-width: 469px) {
    width: 90%;
    &.active {
      width: 90%;
    }
  }
  .img1 {
    margin-bottom: 43px;
    margin-top: -4px;
  }
  .img2 {
    margin-top: 41px;
    margin-bottom: -7px;
  }
}
.textContact {
  @media (max-width: 1150px) {
    text-align: center;
  }
  h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ff64ae;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #091156;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    color: #8b8b8b;
    margin-top: 22px;
  }
}
.contact1 {
  display: flex;
  justify-content: center;
  margin-top: 139px;
  margin-bottom: 67px;
  gap: 103px;
  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    gap: 0px;
  }
}
.contactLeft {
  img {
    width: 519px;
    height: 614px;
  }
  margin-top: 155px;
  @media (max-width: 1114px) {
    margin-top: 0px;
  }
  @media (max-width: 536px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 37px;
  @media (max-width: 536px) {
    flex-direction: column;
  }
}
.form-input11 {
  background-color: #ffffff;
  border: 1px solid #d9ddfe;
  width: 242.21px;
  height: 61.58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  border-radius: 15px;
  padding: 6px 0px 7px 23px;
  @media (max-width: 536px) {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-input12 {
  background-color: #ffffff;
  border: 1px solid #d9ddfe;
  width: 242.21px;
  height: 61.58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  border-radius: 15px;
  padding: 6px 0px 7px 25px;
  @media (max-width: 536px) {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-input2 {
  background-color: #ffffff;
  border: 1px solid #d9ddfe;
  width: 520px;
  height: 61.58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  border-radius: 15px;
  padding: 6px 0px 7px 23px;
  @media (max-width: 536px) {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-input3 {
  background-color: #ffffff;
  border: 1px solid #d9ddfe;
  width: 520px;
  height: 239.47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  border-radius: 15px;
  margin-top: 42px;
  padding: 24px 0px 7px 23px;
  @media (max-width: 536px) {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-row2 {
  display: flex;
  justify-content: center;
}
#submit {
  background-color: #ffffff;
  border-radius: 50px;
  background-color: rgb(255, 100, 174);
  border: 1px solid white;
  box-shadow: 0px 17px 22px 0px #ffedf6;
  width: 248px;
  height: 58px;
  color: white;
  padding: 16px 56px;

  margin-top: 53px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-align: center;
  @media (max-width: 1150px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.p1 {
  @media (min-width: 1155px) {
    background-image: url("./img/Background\ Bubble.png");
    background-size: 66% 80%;
    background-position-x: 100%;
    background-position-y: 98%;
    background-repeat: no-repeat;
  }
}
.p2 {
  @media (min-width: 1150px) {
    background-image: url("./img/123.png");
    background-size: 83% 60%;
    background-position-x: 0%;
    background-position-y: 85%;
    background-repeat: no-repeat;
  }
}
